@import "tailwindcss";

@font-face {
  font-family: 'Lufga';
  src: url('../src/assets/lufga/LufgaRegular.ttf') format('truetype');
}

body {
  font-family: 'Lufga', sans-serif;
}

html,
body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}